{% extends "layouts/base.html" %}

{% block title %} | Inicio {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="static/vendor/datatables/css/datatables.min.css"/>
{% endblock stylesheets %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
          <h2 class="h4">Notificaciones</h2>
          <p class="mb-0">Estas son las notificaciones para el día de hoy</p>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="row-border hover" id="notificationsTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Razón Social</th>
                            <th>Teléfono</th>
                            <th>Fecha de factura</th>
                            <th>Monto total a pagar</th>
                            <th>Monto pagado</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for notification in notifications %}
                        <tr>
                            <td>{{ notification.client_info.name }}</td>
                            <td>{{ notification.client_info.phone }}</td>
                            <td>{{ notification.invoices[0].invoice_datetime_humanized }}</td>
                            <td>$ {{ notification.invoice_total }}</td>
                            <td>$ {{ notification.invoice_paid_total }}</td>

                            <td>
                                <i id="{{ notification.id }}-status-pending-approval" class="fa-regular fa-clock" {% if notification.status != 'STATUS_PENDING_APPROVAL' %}style="display:none"{% endif %}></i>
                                <i id="{{ notification.id }}-status-pending-dispatch" class="fa-solid fa-spinner" {% if notification.status != 'STATUS_PENDING_DISPATCH' %}style="display:none"{% endif %}></i>
                                <i id="{{ notification.id }}-status-sent" class="fa-regular fa-circle-check" {% if notification.status != 'STATUS_SENT' %}style="display:none"{% endif %}></i>
                                <i id="{{ notification.id }}-status-disabled" class="fa-solid fa-ban" {% if notification.status != 'STATUS_DISABLED' %}style="display:none"{% endif %}></i>
                                <span id="{{ notification.id }}-status">{{ notification.status_humanized }}</span>
                            </td>
                            <td>
                                <button id="{{ notification.id }}-send-button" class="btn btn-outline-success notification-send" data-notification-id="{{ notification.id }}" {% if notification.status != 'STATUS_PENDING_APPROVAL' %}style="display:none"{% endif %}>
                                    <i class="fa-solid fa-paper-plane me-2"></i>Enviar</button>
                                <button id="{{ notification.id }}-disable-button" class="btn btn-outline-warning notification-disable" data-notification-id="{{ notification.id }}" {% if notification.status != 'STATUS_PENDING_APPROVAL' %}style="display:none"{% endif %}>
                                    <i class="fa-solid fa-ban me-2"></i>Deshabilitar</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>



                <script>
                    function update_notification_status(notification_id, notification_status, notification_status_humanized) {
                        var status_pending_approval = notification_id + '-status-pending-approval';
                        var status_pending_dispatch = notification_id + '-status-pending-dispatch';
                        var status_sent = notification_id + '-status-sent';
                        var status_disabled = notification_id + '-status-disabled';

                        var button_send = notification_id + '-send-button';
                        var button_disable = notification_id + '-disable-button';

                        // Hide all first
                        document.getElementById(status_pending_approval).style.display = 'none';
                        document.getElementById(status_pending_dispatch).style.display = 'none';
                        document.getElementById(status_sent).style.display = 'none';
                        document.getElementById(status_disabled).style.display = 'none';

                        document.getElementById(button_send).style.display = 'none';
                        document.getElementById(button_disable).style.display = 'none';

                        // Set status humanized
                        var status_dom_id = notification_id + '-status';
                        document.getElementById(status_dom_id).innerHTML = notification_status_humanized;

                        console.log('notification_status:', notification_status);
                        console.log('notification_status_humanized:', notification_status_humanized);

                        if (notification_status == 'STATUS_PENDING_APPROVAL') {
                            document.getElementById(status_pending_approval).style.display = null;
                            document.getElementById(button_send).style.display = null;
                            document.getElementById(button_disable).style.display = null;
                        } else if (notification_status == 'STATUS_PENDING_DISPATCH') {
                            document.getElementById(status_pending_dispatch).style.display = null;
                        } else if (notification_status == 'STATUS_SENT') {
                            document.getElementById(status_sent).style.display = null;
                        } else if (notification_status == 'STATUS_DISABLED') {
                            document.getElementById(status_disabled).style.display = null;
                        }
                        return
                    };

                    $(".notification-send").click(function(event) {
                        var notification_id = $(this).attr('data-notification-id')
                        var status_dom_id = notification_id + '-status';
                        var send_button_dom_id = notification_id + '-send-button';
                        var disable_button_dom_id = notification_id + '-disable-button';

                        document.getElementById(send_button_dom_id).disabled = true;
                        document.getElementById(disable_button_dom_id).disabled = true;

                        var previous_status_html = document.getElementById(status_dom_id).innerHTML;
                        document.getElementById(status_dom_id).innerHTML = '<i class="fa-solid fa-spinner"></i> En espera...';

                        $.post('/set-notification-status', {notification_id: notification_id, status: 'STATUS_PENDING_DISPATCH'}, function(data) {
                            var notyf = new Notyf({duration: 5000});
                            if (data['ok']) {
                                notyf.success('Notificación programada correctamente');
                                update_notification_status(notification_id, data['status'], data['status_humanized']);
                            } else {
                                notyf.error('Error al intentar enviar notificación');
                                document.getElementById(status_dom_id).innerHTML = previous_status_html;
                            }
                            document.getElementById(send_button_dom_id).disabled = false;
                            document.getElementById(disable_button_dom_id).disabled = false;
                        });
                        return;
                    });

                    $(".notification-disable").click(function(event) {
                        var notification_id = $(this).attr('data-notification-id')
                        var status_dom_id = notification_id + '-status';
                        var send_button_dom_id = notification_id + '-send-button';
                        var disable_button_dom_id = notification_id + '-disable-button';

                        document.getElementById(send_button_dom_id).disabled = true;
                        document.getElementById(disable_button_dom_id).disabled = true;

                        var previous_status_html = document.getElementById(status_dom_id).innerHTML;
                        document.getElementById(status_dom_id).innerHTML = '<i class="fa-solid fa-spinner"></i> En espera...';

                        $.post('/set-notification-status', {notification_id: notification_id, status: 'STATUS_DISABLED'}, function(data) {
                            var notyf = new Notyf({duration: 5000});
                            if (data['ok']) {
                                notyf.success('Notificación deshabilitada correctamente');
                                update_notification_status(notification_id, data['status'], data['status_humanized']);
                            } else {
                                notyf.error('Error al intentar deshabilitar notificación');
                                document.getElementById(status_dom_id).innerHTML = previous_status_html;
                            }
                            document.getElementById(send_button_dom_id).disabled = false;
                            document.getElementById(disable_button_dom_id).disabled = false;
                        });
                        return;
                    });
                </script>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-body text-end">
            <button type="submit" name="login" class="btn btn-secondary"><i class="fa-solid fa-paper-plane mx-1" style="color:#f2f4f6"></i>    Enviar Todos</button>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascript %}
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
  <script src="static/js/datatables.js"></script>
{% endblock javascript %}
