{% extends "layouts/base.html" %}

{% block title %} | Inicio {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="static/vendor/datatables/css/datatables.min.css"/>
{% endblock stylesheets %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
          <h2 class="h4">Notificaciones</h2>
          <p class="mb-0">Estas son las notificaciones para el día de hoy</p>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="row-border hover" id="notificationsTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Razón Social</th>
                            <th>Teléfono</th>
                            <th>Fecha de factura</th>
                            <th>Monto total a pagar</th>
                            <th>Monto pagado</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for notification in notifications %}
                        <tr>
                            <td>{{ notification['client_info']['razon_social'] }}</td>
                            <td>{{ notification['client_info']['telefono'] }}</td>
                            <td>{{ notification['invoice_date_humanized'] }}</td>
                            <td>$ {{ notification['invoice_total'] }}</td>
                            <td>$ {{ notification['invoice_paid_total'] }}</td>
                            <td id="{{ notification['id'] }}-status">
                                {% if notification['status'] == 'STATUS_PENDING_APPROVAL' %}
                                <i class="fa-regular fa-clock"></i>
                                {% elif notification['status'] == 'STATUS_PENDING_DISPATCH' %}
                                <i class="fa-solid fa-spinner"></i>
                                {% elif notification['status'] == 'STATUS_SENT' %}
                                <i class="fa-regular fa-circle-check"></i>
                                {% elif notification['status'] == 'STATUS_DISABLED' or notification['status'] == 'STATUS_EXPIRED' %}
                                <i class="fa-solid fa-ban"></i>
                                {% endif %}

                                {{ notification['status_humanized'] }}
                            </td>
                            <td>
                                {% if notification['status'] not in  ['STATUS_DISABLED', 'STATUS_EXPIRED'] %}
                                    <button id="{{ notification['id'] }}-send-button" class="btn btn-outline-success notification-send" {% if notification['status'] == 'STATUS_PENDING_DISPATCH' %}style="display:none"{% endif %} data-notification-id="{{ notification['id'] }}"><i class="fa-solid fa-paper-plane me-2"></i>Enviar</button>
                                    <button id="{{ notification['id'] }}-cancel-button" class="btn btn-outline-danger notification-cancel" {% if notification['status'] != 'STATUS_PENDING_DISPATCH' %}style="display:none"{% endif %} data-notification-id="{{ notification['id'] }}"><i class="fa-solid fa-xmark me-2"></i>Cancelar</button>
                                    <button id="{{ notification['id'] }}-disable-button" class="btn btn-outline-warning notification-disable" data-notification-id="{{ notification['id'] }}"><i class="fa-solid fa-ban me-2"></i>Deshabilitar</button>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <script>
                    $(".notification-send").click(function(event) {
                        var sendButtonDomId = $(this).attr('data-notification-id') + '-send-button';
                        var cancelButtonDomId = $(this).attr('data-notification-id') + '-cancel-button';
                        var disableButtonDomId = $(this).attr('data-notification-id') + '-disable-button';
                        var statusDomId = $(this).attr('data-notification-id') + '-status';

                        document.getElementById(sendButtonDomId).disabled = true;
                        document.getElementById(disableButtonDomId).disabled = true;
                        document.getElementById(statusDomId).innerHTML = '<i class="fa-solid fa-spinner"></i> En espera...';
                        $.post('/set-notification-status', {notification_id: $(this).attr('data-notification-id'), status: 'STATUS_PENDING_DISPATCH'}, function(data) {
                            var notyf = new Notyf({duration: 5000});
                            if (data['ok']) {
                                notyf.success('Notificación programada correctamente');
                                document.getElementById(sendButtonDomId).style.display = 'none';
                                document.getElementById(cancelButtonDomId).style.display = null;
                                document.getElementById(statusDomId).innerHTML = '<i class="fa-solid fa-spinner"></i> Enviando...';
                            } else {
                                notyf.error('Error al intentar enviar notificación');
                                document.getElementById(disableButtonDomId).disabled = false;
                                document.getElementById(statusDomId).innerHTML = '<i class="fa-regular fa-clock"></i> Pendiente';
                            }
                            document.getElementById(sendButtonDomId).disabled = false;
                        });
                        return;
                    });

                    $(".notification-disable").click(function(event) {
                        var sendButtonDomId = $(this).attr('data-notification-id') + '-send-button';
                        var disableButtonDomId = $(this).attr('data-notification-id') + '-disable-button';
                        var statusDomId = $(this).attr('data-notification-id') + '-status';

                        document.getElementById(disableButtonDomId).disabled = true;
                        document.getElementById(statusDomId).innerHTML = '<i class="fa-solid fa-spinner"></i> En espera...';
                        $.post('/set-notification-status', {notification_id: $(this).attr('data-notification-id'), status: 'STATUS_DISABLED'}, function(data) {
                            var notyf = new Notyf({duration: 5000});
                            if (data['ok']) {
                                notyf.success('Notificación deshabilitada correctamente');
                                document.getElementById(sendButtonDomId).style.display = 'none';
                                document.getElementById(disableButtonDomId).style.display = 'none';
                                document.getElementById(statusDomId).innerHTML = '<i class="fa-solid fa-ban"></i> Deshabilitada';
                            } else {
                                notyf.error('Error al intentar deshabilitar notificación');
                                document.getElementById(statusDomId).innerHTML = '<i class="fa-regular fa-clock"></i> Pendiente';
                            }
                            document.getElementById(disableButtonDomId).disabled = false;
                        });
                        return;
                    });

                    $(".notification-cancel").click(function(event) {
                        var sendButtonDomId = $(this).attr('data-notification-id') + '-send-button';
                        var cancelButtonDomId = $(this).attr('data-notification-id') + '-cancel-button';
                        var statusDomId = $(this).attr('data-notification-id') + '-status';

                        document.getElementById(cancelButtonDomId).disabled = true;
                        document.getElementById(statusDomId).innerHTML = '<i class="fa-solid fa-spinner"></i> Cancelando...';
                        $.post('/set-notification-status', {notification_id: $(this).attr('data-notification-id'), status: 'STATUS_PENDING_APPROVAL'}, function(data) {
                            var notyf = new Notyf({duration: 5000});
                            if (data['ok']) {
                                notyf.success('Notificación cancelada correctamente');
                                document.getElementById(cancelButtonDomId).style.display = 'none';
                                document.getElementById(sendButtonDomId).style.display = null;
                                document.getElementById(statusDomId).innerHTML = '<i class="fa-regular fa-clock"></i> Pendiente';
                            } else {
                                notyf.error('Error al intentar cancelar notificación');
                                document.getElementById(statusDomId).innerHTML = '<i class="fa-solid fa-spinner"></i> Enviando...';
                            }
                            document.getElementById(cancelButtonDomId).disabled = false;
                        });
                        return;
                    });
                </script>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-body text-end">
            <button type="submit" name="login" class="btn btn-secondary"><i class="fa-solid fa-paper-plane mx-1" style="color:#f2f4f6"></i>    Enviar Todos</button>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascript %}
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
  <script src="static/js/datatables.js"></script>
{% endblock javascript %}
